* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}

h6 {
    margin: 0 0 0 0;
}
a {
    text-decoration: none;
    color: white;
    font-family: 'Nunito', sans-serif;
}

li{
    list-style-type: none;
}
    
.header{
    width: 100%;
    background-color: blue;
}

.header__wrapper-top{
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1500px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.header__nav{
    display: flex;
}

.header__right{
    display: flex;
    flex-wrap: wrap;
}

.header_list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-top: 7px;
}

.header_list-item{
    padding-right: 15px;
}

.header__menu{
    text-decoration: none;
    color: white;
}

.burger__icon{
    background: url(../img/open-menu.png) no-repeat center;
    background-size: contain;
    width: 30px;
    height: 30px;
}


.burger__menu-item{
    list-style-type: none;
}

.burger__menu{
    display: block;
    position: absolute;
    top: 73px;
    background-color: tomato;
}

.header__regist{
    padding-right: 10px;
    padding-top: 5px;
}

.regist__link{
    padding-right: 10px;
    color: white;
    text-decoration: none;
}

.contact__link{
    padding-top: 5px;
    color: white;
    text-decoration: none;
}

.header__social{
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
}

.img__icon{
    height: 30px;
    width: 30px;
    padding-right: 5px;
}
.header__wrapper-bottom{
    max-width: 1920px;
    min-width: 320px;
    margin-bottom: 10px;
    clear: both;
}

.subTabel{
    table-layout: fixed;
    display: table;
    width: 100%;
}

.subTableRow{
    display: table-row;
}

.subTabelColumn{
    vertical-align: middle;
    display: table-cell;
}

.subTableColumn:first-child {
    width: 230px;
}

.subTableColumn:nth-child(2) {
    padding-right: 24px;
}

.subTableColumn:nth-child(3) {
    text-align: right;
    width: 520px;
}
.subTableColumn:last-child {
    text-align: right;
    width: 356px;
}

.logo{
    line-height: 90px;
    text-align: left;
    height: 90px;
    width: 212px;
    border: 0;
}

.searchContainerInner {
    border: 1px solid #f3f3f3;
    height: 50px;
}

.searchContainer {
    border-collapse: collapse;
    table-layout: fixed;
    line-height: 50px;
    display: table;
    height: 50px;
    width: 100%;
}

.searchColumn {
    vertical-align: middle;
    display: table-cell;
}

.searchQuery {
    background: url(/bitrix/components/dresscode/search.line/templates/version2/images/searchH2.png) 14px 50% no-repeat transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 42px;
    height: 50px;
    width: 100%;
    border: 0;
}

.goSearch {
    background: url(/bitrix/components/dresscode/search.line/templates/version2/images/searchIcoH2.png) 0 0 no-repeat transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: transparent;
    cursor: pointer;
    height: 50px;
    border: none;
    width: 50px;
}

#subHeader7 .phonesContainer {
    vertical-align: middle;
    display: inline-block;
    margin-right: 24px;
}

.phonesTb {
    table-layout: fixed;
    display: table;
}

.callBackIcon {
    background: url(../img/telephone.svg) 0 0 no-repeat transparent;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    height: 28px;
    width: 34px;
}

.phonesTc {
    vertical-align: middle;
    display: table-cell;
}

.phonesTc:first-child {
    padding-right: 12px;
}

.heading {
    font-family: "robotoBold";
    font-size: 20px;
    display: block;
}

.callBack {
    text-decoration: none;
    position: relative;
}

.container__wrapper{
    padding-top: 200px;
    max-width: 900px;
    margin: 0 auto;
}

.container__sidebar{
    padding-left: 10px;
    margin-bottom: 40px;
}


#menuVertical{width:100%;height:auto;}
    #menuVertical ul{
        display:block;
        width:100%;
        height:auto;
        margin:0px;
        padding:0px;
        list-style:none;
        position:relative;
    }
        #menuVertical ul li{display:block; width:100%; height:auto; position:relative;}
            #menuVertical ul li a{
                position:relative;
                display:block;
                width:100%;
                height:auto;
                box-sizing:border-box;
                font-size:17px;
                text-transform:uppercase;
                font-weight:bold;
                color:#FBF7F7;
                line-height:1.2em;
                padding:10px 15px;
                background:#3A9CD3;
                border-top:1px solid #236A92;
                text-decoration:none;
            }
            #menuVertical ul  li:first-child a{border:0px;}
            #menuVertical ul li a:hover, #menuVertical ul li:hover a{
                background:#0A3CC1;
            }
            #menuVertical ul li ul{
                position:absolute;
                top:0px;
                left:100%;
                display:none;
                width:auto;
            }
            #menuVertical ul li:hover ul{display:block;}
                #menuVertical ul li ul li a{
                    white-space:nowrap;
                    text-transform:none;
                    padding:5px 20px;
                    z-index: 30;
                }
                    #menuVertical ul li ul li a:hover{
                        background:#75C1D4;
                        color:#0A3CC1;
                        z-index: 30;
                    }


.carousel-item {
height: 400px;
width: 100%;
overflow: hidden;
}
                      
.carousel-item img {
height: 100%;
width: 100%;
object-fit: cover;
}

.new__title{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 20px;
    display: flex;
    margin-top: 20px;
    padding-left: 15px;
    border: 2px solid balck;
}

.title__link{
    text-decoration: none;
    color: white;
    background-color: #0A3CC1;
}

.title__link:hover{
    text-decoration: none;
    color: blueviolet;
}
.item {
    height: 200px;

}
.product{
    margin-top: 10px;
}  
.card {
width: 700px;
}

.product-image{
    height: 100%;
    width: 100%;
    object-fit: cover;  
}

.stuff{
    display: flex;
    flex-direction: column;
}

.stuffs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}

.stuff__pic{
    width: 100%;
    height: 100%;
}

.stuff__desc{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: auto 0 0 0;
}

.new__stuff{
    margin-top: 20px;
}


/* Produt*/

.mainmenubtn {
    background-color: #75C1D4;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:10px;
    width: 260px;
}

.mainmenubtn:hover {
    background-color: #247f96;
    }
    
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    min-width: 200px;
}

.dropdown-child-2 {
    display: none;
    min-width: 200px;
}

.dropdown-child a {
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
    border-left: 1px solid;
    border-right: 1px solid;
}

.dropdown-child a:hover{
    text-decoration: none;
    color: brown;
    background-color: chocolate;
}

.show{
    display: block;
}

.product {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c0c0c0;
    height: 390px;
    overflow: hidden;
    padding: 25px 15px;
    position: relative;
    text-align: center;
    transition: all 0.5s ease 0s;
    margin-bottom: 20px;
   }
   .product:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
   }
   .product-img {
       background-size: cover;
   }
   .product-title a {
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
   }
   .product-desc {
       max-height: 60px;
       overflow: hidden;
   }
   .product-price {
    bottom: 15px;
    left: 0;
    position: absolute;
    width: 100%;
    color: #d51e08;
    font-size: 18px;
    font-weight: 500;
   }

/*filter*/

.filter__title{
    padding-left: 30px;
}

.filter__btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pag{
    display: flex;
    justify-content: center;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
  }
  .pagination > li {
    display: inline;
  }
  .pagination > li > a,
  .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .pagination > li > a:hover,
  .pagination > li > span:hover,
  .pagination > li > a:focus,
  .pagination > li > span:focus {
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd;
  }
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
  }
  .pagination > .disabled > span,
  .pagination > .disabled > span:hover,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
  }
  .pagination-lg > li > a,
  .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
  }
  .pagination-lg > li:first-child > a,
  .pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .pagination-lg > li:last-child > a,
  .pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .pagination-sm > li > a,
  .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
  }
  .pagination-sm > li:first-child > a,
  .pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .pagination-sm > li:last-child > a,
  .pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

.sort{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 2px solid black;
}

.column{
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}

.label{
    padding-right: 7px;
}

.h6__title{
    padding-top: 4px;
    margin: 0 0 0 0;
}

/*product card start*/

.product__card{
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product__card-pic{
    width: 400px;
    height: 300px;
}

.product__card-about{
   margin-left: 40px;
   padding: 100px 0;
}

.top__ferst{
    display: flex;
    flex-wrap: wrap;
}

.top__ferst a:hover{
    color: brown;
    text-decoration: none;
}

.top__ferst a{
    margin-left: 30px;
}

.specifications{
    margin-top: 30px;
    margin-bottom: 50px;
}

.specifications__title{
    margin-bottom: 20px;
}

.nav__product-card{
    margin-top: 50px;
}